@use './../../../styles/abstracts/index' as a;

.Section {
  position: relative;
  width: clamp(100px, 70vw, 1200px);
  min-height: 100vh;
  overflow-wrap: break-word;
  transform: translateX(-50%);
  left: 50%;
  z-index: 0;
  @include a.media("<=ySize_3") {
    height: 600px;
  }
}

.bottomBefore {
  position: relative;
}

.Container {
  width: clamp(100px, 70vw, 800px);
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  @include a.media(">=xSize_7") {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.Container {
}
