@use "./../../styles/abstracts/index" as i;

.container {
  color: i.$pr_color;
  margin-top: 5px;
  div {
    display: flex;
    height: fit-content;
    align-items: center;
    margin: 0;
    @include i.media("<=tablet") {
      line-height: 15px;
      font-size: 15px;
    }
    .icon {
      height: 28px;
      width: 28px;
      @include i.media("<=tablet") {
        height: 18px;
        width: 18px;
      }
    }
    .value {
      margin: 10px;
    }
  }
}
