@use './../../../styles/abstracts' as i;

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  @include i.centerX;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  
}

.backToHome {
  margin: 3rem 0 0;
}
