@use './../../styles/abstracts/index' as a;

.Section {
  position: relative;
  width: clamp(100px, 70vw, 1200px);
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 300px;
  .Heading {
    align-items: center;
    justify-content: center;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 200px;
      height: 1.4px;
      background-color: a.$co_3;
      margin: 0 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.Contact-button {
  
  margin: 20px;
  height: 70px;
  width: 250px;
  background-color: transparent;
  color: a.$co_3;
  font-size: 23px;
  border: 2px solid a.$co_3;
  border-radius: 10px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}
