@use './../../../styles/abstracts' as a;
// @use './../../styles/utils.module.scss' as u;

.parent {
  display: flex;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  @include a.media("<=xSize_5") {
    width: 400px;
  }

  ul {
    margin: 0;
    padding: 0;
    margin: 10px;
    width: fit-content;
  }
}

.LogoSkeleton {
  margin: 10px;
  width: 80px;
  height: 80px;
  align-items: center;
  display: flex;
  path {
    stroke: a.$co_3-1;
  }
}

.spacer {
  @include a.media("<=xSize_5") {
    width: 1px;
    height: 200px;
  }
}
