@use './../../styles/abstracts/' as i;
@use './../../styles/utils.module.scss' as u;

.prBg {
  background: url(/images/Footer-section-background-1000BA.png);
  background-size: cover;
}

.darkBg {
  background: url(/images/Footer-section-background-black.png);
  background-size: cover;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  white-space: wrap;
  @include i.media("height<hMedium"){
    height: i.$hmedium;
  }
  @include i.media("<=small_phone") {
    width: i.$small_phone;
  }

  span {
    margin: 5px 0;
  }

  .innerContainer {
    width: 90%;
    height: 90%;
    @include i.center;
    position: relative;

    .content {
      position: relative;
      width: 90%;
      margin-top: 30px;
      height: 100%;
      @include i.centerX;
      .blockheading {
        position: relative;
        padding: 20px 0 20px 0;
        font-size: 1.5em;
        height: fit-content;
        font-weight: i.$main_font_weight_600;
        position: relative;
        @include i.media("<=phone") {
          font-size: 1em;
          word-wrap: auto;
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: normal;
        }
        @include i.media("<=large_phone") {
        }
      }
      .block1 {
        display: flex;
        @include i.media("<=tablet") {
          flex-direction: column;
          display: block;
        }
        .half {
          width: 250px;
          margin: 0 40px 0 0;
          display: flex;
          flex-direction: column;
        }
        @include i.media("<=phone") {
          display: flex;
          flex-direction: column;
        }
      }
      .block2 {
        .half {
          @include i.media("<=phone") {
            display: flex;
            flex-direction: column;
          }
        }
      }
      .block3 {
        @include i.media("<=tablet") {
          flex-direction: column;
          display: block;
        }
        display: flex;

        .half {
          width: 250px;
          margin: 0 40px 0 0;
          display: flex;
          flex-direction: column;
          span {
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .bottom {
      position: absolute;
      
      bottom: 70px;
      left: 0;
      
      width: 100%;

      display: flex;
      justify-content: space-between;

      @include i.media("<=desktop") {
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      @include i.media("<=phone") {
        flex-direction: column;
      }
      @include i.media("<=phone") {
        bottom: 40px;
      }
      .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        @include i.media("<=small_phone") {
          span {
            font-size: 13px;
            width: 70%;
          }
        }
        @include i.media("<=phone") {
          font-size: 13px;
        }
        .logo {
          margin: 10px;
          height: 60px;
          width: 60px;
          @include i.media("<=small_phone") {
            height: 40px;
            width: 40px;
          }
        }
        span {
          margin: 10px;
          color: i.$gray;
        }
      }
      .privacy {
        margin: 0;
        list-style-type: none;
        display: flex;
        align-content: center;
        align-items: center;
        height: 100%;
        flex-direction: row;
        width: fit-content;
        @include i.media("<=large_phone") {
          width: 50%;
        }
        li {
          margin: 0 30px 0 0;
          width: fit-content;
          white-space: nowrap;
          display: block;
          a {
            width: fit-content;
            cursor: pointer;
            font-weight: i.$main_font_weight_600;
            font-size: 20px;
            color: i.$gray;
            &:hover {
              color: rgba(0, 0, 0, 0.434);
              transition: 0.5s;
            }
            @include i.media("<=large_phone") {
              font-size: 12px;
            }
            @include i.media("<=small_phone") {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
