@use './../../styles/abstracts/' as i;
@use './../../styles/utils.module.scss' as u;

.navblock {
  position: fixed;
  height: 500px;
  width: 80%;
  left: 50%;
  max-width: 500px;
  transform: translateX(-50%);
  z-index: 1000;
  @include i.media("<=large_phone") {
    height: 300px;
  }
  .navElements {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .navElement {
      cursor: pointer;
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 35px;
      line-height: 50px;
      font-family: i.$main_font;
      color: black;
      font-weight: i.$main_font_weight_700;
      @include i.media("<=large_phone") {
        font-size: 20px;
        margin: 5px;
      }
    }
  }
  .shadow {
    position: relative;
    background-color: rgba(0, 0, 0, 0.243);
    height: 95%;
    width: 95%;
    border-radius: 20px;
    @include i.center;
    filter: blur(20px);
  }
}
