@use "./../../../styles/abstracts" as a;

.icon {
  height: 100px;
  width: 100px;
}

.gridcontainer {
  height: 100%;
  width: 100%;
  background-color: gray;
  .gridlist {
    display: flex;
    flex-direction: column-reverse;
    background-color: antiquewhite;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    padding: 20px;

    .gridlistitem {
      padding: 0;
      list-style: none;
      box-sizing: border-box;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
