@use "./../../../styles/abstracts" as a;

.icon {
  // width: 200px;
  // background-color: red;
  position: relative;
  // height: 400px;
  height: 60px;
  width: 60px;
  path,
  circle {
    stroke: a.$co_3;
  }
}

.gridcontainer {
  // height: 100%;
  // width: 100%;
  // background-color: green;
  // height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: red;
  border-radius: 8px;
  transition: 0.8s;
  &:hover {
    cursor: pointer;
    background-color: #92999f1a;
    transition: 0.8s;
  }

  .gridlist {
    // height: 80%;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;

    .gridlistitem {
      padding: 0;
      list-style: none;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      height: 80px;
      justify-content: center;
    }
  }
}
