@use "./../../../styles/abstracts" as a;

.gridcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 0.8s;
  &:hover {
    cursor: pointer;
    background-color: #92999f1a;
    transition: 0.8s;
  }
  .gridlist {
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    @include a.media("<=xSize_2", "height>=xSize_6") {
      flex-direction: row-reverse;
    }
    .gridlistitem {
      padding: 0;
      list-style: none;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      height: 80px;
      justify-content: center;
      @include a.media("<=xSize_2", "height>=xSize_6") {
        width: 120px;
      }
    }
  }
}

.icon {
  position: relative;
  height: 60px;
  width: 60px;
  path,
  circle {
    stroke: a.$co_3;
  }
}
