@use "@styles/abstracts" as a;

.bottomNav {
  z-index: 10;
  position: fixed;
  height: fit-content;
  width: 100vw;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  @include a.media(">=xSize_5") {
    display: none;
  }
}

.bar-icon {
  height: 40px;
  color: a.$co_3;
  &:hover {
    cursor: pointer;
  }
}
.grid-icon {
  height: 50px;
}

.tlnav {
  z-index: 1000;
  height: 100px;
  width: 100vw;
  bottom: 0;
  opacity: 0;
  display: flex;
  margin-bottom: -100px;
  position: relative;
  // left: 50%;
  // transform: translateX(-50%);
  justify-content: space-between;
  box-sizing: border-box;
  @include a.media("<=xSize_5") {
    background-color: a.$co_4-2;
    height: clamp(60px, 20vh, 80px);
    .bottom-nav-btn {
      &:hover {
        cursor: pointer;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80%;
      margin: 10px 30px;
      background-color: transparent;
      border: none;
    }
  }
}

.social-grid {
  margin-bottom: -200px;
}

.nav-grid {
  margin-bottom: -200px;
}

.subcontainer {
  opacity: 0;
  margin-bottom: -200px;
  padding: 0;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px 4px 0 0;
  width: clamp(300px, 80%, 600px);
  background-color: a.$co_4-2;
  @include a.media("<=xSize_5") {
    width: 90%;
  }
  @include a.media("<=xSize_2") {
    width: 100%;
  }

  .subcontainerNav {
    margin: 0;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include a.media("<=xSize_4") {
      padding: 0;
    }
    @include a.media("<=xSize_2") {
      width: 100%;
    }
    .subcontainerDiv {
      display: grid;
      height: fit-content;
      grid-template-columns: auto auto;

      // @include a.media("<=xSize_2") {
      //   grid-template-columns: auto;
      //   width: 100%;
      // }
      width: 400px;
      padding: 10px 30px;

      @include a.media("<=xSize_2") {
        width: 100%;
        background-color: red;
        grid-template-columns: auto;
      }

      @include a.media("<=xSize_4") {
        padding: 10px 10px;
      }
    }
  }
}
