@use 'abstracts' as a;

.Section {
  position: relative;
  width: clamp(100px, 70vw, 1200px);
  min-height: 100vh;
  overflow-wrap: break-word;
  transform: translateX(-50%);

  left: 50%;
  z-index: 0;
  @include a.media("<=ySize_3") {
    height: 600px;
    width: clamp(100px, 90vw, 1200px);
  }
}

#introduction {
  color: a.$co_3;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-weight: bold;
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 100;
  min-height: 0vw;
  margin-top: 0px;
}

#myname {
  color: a.$co_4;
  font-size: clamp(3rem, 8vw, 5rem);
  white-space: no-wrap;
  font-weight: bold;
  font-family: a.$font-family-text, system-ui, sans-serif;
  line-height: 1.1;
  width: 100%;
}

#profession {
  color: a.$co_2-1;
  font-size: 2rem;
  min-height: 0vw;
  font-weight: bold;
  font-family: a.$font-family-text, system-ui, sans-serif;
  line-height: 1.1;
  @include a.media("<=ySize_3") {
    font-size: clamp(1.5rem, 2vw, 3rem);
  }
}

#whatido {
  margin-top: 10px;
  min-height: 0vw;
  font-size: 0.8rem;
  color: a.$co_2;
  font-weight: 300;
  font-family: a.$font-family-text, system-ui, sans-serif;
  // margin: 20px 0;
  line-height: 1.1;
  max-width: 800px;
}

.bottomBefore {
  position: relative;
}

.Container {
  width: 100%;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  @include a.media(">=xSize_7") {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.Container {
}
