@use "abstracts" as a;
.Parent {
  z-index: 10;
}

.ListParent {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0;
  list-style: none;
  @include a.media("<=xSize_5") {
    display: none;
  }
  li {
    margin: 0px 0px 0px clamp(4px, 2vw, 20px);
    .navCode {
      font-family: a.$font-family-monospace;
      color: a.$co_1;
      font-size: 1.2rem;
    }
    .navHeading {
      font-family: a.$font-family-text;
      color: a.$co_2;
      font-size: 1.1rem;
    }
    &:hover {
      color: a.$co_1;
      background-color: a.$co_5;
      cursor: pointer;
    }
  }
}
