@use "./../../../styles/abstracts" as a;

.bottom-nav {
  position: fixed;
  height: fit-content;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  @include a.media(">=xSize_5") {
    display: none;
  }
  // display:none;
}

.tlnav {
  @include a.media("<=xSize_5") {
    background-color: purple;

    height: clamp(60px, 20vh, 80px);
  }
  // background-color: green;
  height: 100px;
  width: 100%;
  bottom: 0;
  display: flex;
  opacity: 0;
  margin-bottom: -100px;

  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
}

.social-grid {
  margin-bottom: -200px;
  background-color: purple;
}

.nav-grid {
  margin-bottom: -200px;
  background-color: green;
}

.subcontainer {
  border-radius: a.$button-border-radius;
  opacity: 0;
  display: none;
  width: clamp(300px, 80%, 500px);
  height: clamp(350px, 60vh, 500px);
  padding: 0;
  margin-bottom: -200px;
  @include a.media("<=xSize_2") {
    width: 100%;
  }

  nav {
    margin: 0;
    padding: 0;
    height: 100%;

    ul {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-row-start: auto;
      height: 100%;
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      grid-template-columns: auto auto;
      @include a.media("<=xSize_2") {
        background-color: gold;
        grid-template-columns: auto;
      }
      padding: 0;
      display: grid;
      // grid-column: auto;
      li {
        @include a.media("<=xSize_2") {
          height: 40px;
          // margin: 10px;
          background-color: green;
        }
        height: 100%;
        list-style: none;
        width: 100%;
        background-color: white;
      }
    }
  }
}
