@use './../../styles/abstracts/index' as i;

.section {
  margin: 10px;
  .upcmngHeader {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    width: 100%;
    margin-top: 50px;
    word-wrap: break-word;
    text-align: center;
    font-weight: i.$main_font_weight_700;
    color: i.$pr_color;
    
  }
}
