// // @use './../../styles/abstracts/' as i;
// // @use './../../styles/utils.module.scss' as u;
@use "./../../../styles/abstracts" as a;

.nav-items {
  position: relative;
  padding: 0;
  list-style: none;
  display: flex;
  // height: 100%;
  background-color: beige;
  align-items: center;
  width: fit-content;

  @include a.media("<=xSize_5") {
    display: none;
  }
  li {
    margin: 0px 0px 0px clamp(4px, 2vw, 20px);
    
  }
}

.bottom-nav{
  position:fixed;
  bottom: 10px;
    
}