@use '../../../styles/abstracts/index' as a;
@use '../../../styles/fonts.module.scss' as f;

.Linkbar {
  bottom: 0;
  position: fixed;
  z-index: 9999;
  margin: 0 clamp(0px, 4vw, 40px);
  @include a.media("<=xSize_7") {
    margin: 0 clamp(0px, 2vw, 40px);
  }
  @include a.media("<=xSize_6") {
    margin: 0;
  }
}

.Linkbar-1 {
  width: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  @include a.media("<=xSize_5") {
    display: none;
  }
}
.Linkbar-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  //   left: auto;
  //   height: 400px;
  width: 70px;
  right: 0;
  @include a.media("<=xSize_5") {
    display: none;
  }
  a {
    &:hover {
      // background-color: a.$co_4;
      color: a.$co_3;
      margin-bottom: 10px;
      transition: 0.3s;
    }
    transition: 0.3s;
    @extend .Side-Code-1;
    // position: absolute;
    // // width: fit-content;
    // transform-origin: bottom left;
    // transform: rotate(90deg);
    // // left: 50%;
  }
}

.Line-1 {
  z-index: 999999999;
  width: 2px;
  height: 100px;
  margin: 50px 0 0 0;
  background-color: a.$co_4;
  bottom: 0px;
  left: 0px;
  position: relative;
}

.Icon-frame {
  height: 70px;
  position: relative;
}

.Icon-1 {
  position: relative;
  top: 10px;
  // bottom: 0;
  height: 40px;
  // margin: 20px 0;
  path,
  circle {
    stroke: a.$co_4;
  }

  &:hover {
    top: 7px;
    color: a.$co_3;
    path,
    circle {
      stroke: a.$co_3;
    }
    cursor: pointer;
    transition: 0.3s;
  }
  transition: 0.3s;
}
