@use './../../styles/abstracts/index' as i;
// @use './../../styles/utils.module.scss' as u;

.Heading {
  align-items: center;
  justify-content: center;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: i.$co_3;
    margin: 0 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.Text-Container{
  position: relative;
  //  background-color: red;
   width: 60%;

}
