@use './../../styles/abstracts' as i;

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  @include i.centerX;
  @include i.media(">=desktop") {
    width: 80%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  @include i.media("<=small_phone") {
    width: i.$small_phone;
  }
}

.backToHome {
  margin: 3rem 0 0;
}
