@use '../../../styles/abstracts/index' as i;
@use '../../../styles/fonts.module.scss' as f;

.Linkbar {
  bottom: 0;
  position: fixed;
  z-index: 99999;

}

.Linkbar-1 {
  //   height: 400px;
  width: 70px;
  //   transform: translate(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.Linkbar-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  //   left: auto;
  //   height: 400px;
  width: 70px;
  right: 0;
  a {
    &:hover {
      background-color: i.$co_4;
    }
    @extend .Side-Code-1;
    // position: absolute;
    // // width: fit-content;
    // transform-origin: bottom left;
    // transform: rotate(90deg);
    // // left: 50%;
  }
}

.Line-1 {
  z-index: 999999999;
  width: 0.9918478727340698px;
  height: 90px;
  margin: 10px 0 0 0;
  background-color: i.$co_4;
  //   border-radius: 12px;
  bottom: 0px;
  left: 0px;
  position: relative;
}

.Icon-1 {
  height: 30px;
  // width: 20px;
  margin: 10px;
  path,
  circle {
    stroke: i.$co_4;
  }
  // stroke: red;
  // path{
  //     fill: red;
  // }
}
