@use './../../../styles/abstracts/index' as a;

.parent {
  margin: 50px 0px;
  display: flex;
  position: relative;
  @include a.media(">=xSize_6") {
    background-color: green;
    display: none;
  }
  .full-bar {
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: a.$co_2;
  }
}
.full-indicator {
  height: 50px;
  width: 5px;
  background-color: a.$co_3;
  position: absolute;
  left: -1px;
}

.unordered-full {
  margin: 0;
  padding: 0 40px;
  // list-style: none;
  .unordered-listitem {
    // padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
  }
}
