@use './abstracts/index' as a;

.Home-Code-1 {
  color: a.$co_3;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-weight: bold;
  font-size: clamp(20px, 4vw, 25px);
  min-height: 0vw;
  margin-top: 0px;
  line-height: 2;
}

.Home-Heading-1 {
  color: a.$co_4;
  font-size: clamp(35px, 15vw, 100px);
  min-height: 0vw;
  font-weight: bold;
  font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  line-height: 1.1;
}

.Home-Heading-2 {
  color: a.$co_2-1;
  font-size: clamp(23px, 10vw, 51px);
  min-height: 0vw;
  font-weight: bold;
  font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  line-height: 1.1;
}

.Home-Text-1 {
  min-height: 0vw;
  font-size: clamp(10px, 8vw, 25px);
  color: a.$co_2;
  font-weight: 300;
  font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  margin: 20px 0;
  line-height: 1.1;
  max-width: 800px;
}

.Side-Code-1 {
  writing-mode: vertical-rl;
  letter-spacing: 0.1em;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  color: a.$co_4;
  font-size: 20px;
}

.Section-Code-1 {
  color: a.$co_3;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-weight: Regular;
  font-size: clamp(20px, 4vw, 34px);
  min-height: 0vw;
  margin-top: 0px;
  margin-right: 10px;
  line-height: 2;
}

.Section-Heading-1 {
  min-height: 0vw;
  font-size: clamp(30px, 8vw, 51px);
  color: a.$co_4;
  font-weight: Semi Bold;
  font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  margin: 20px 0;
  line-height: 1.1;
  max-width: 800px;
}

.About-Text-1 {
  min-height: 0vw;
  font-size: clamp(12px, 8vw, 25px);
  color: a.$co_2;
  font-weight: 300;
  font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  margin: 20px 0;
  line-height: 1.1;
  max-width: 800px;
}

.about-code-1 {
  color: a.$co_2;
  font-size: 23px;
  margin: 0 20px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-weight: 700;
}

.Nav-Code-1 {
  color: a.$co_3;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: clamp(10px, 2.4vw, 20px);
  min-height: 0vw;
  font-weight: 200;
  line-height: 1.1;
}

.Nav-Heading-1 {
  color: a.$co_4;
  font-family: Calibre, Inter, "San Francisco", "SF Pro Text",
    -apple-system system-ui, sans-serif;
  font-size: clamp(10px, 2.4vw, 20px);
  min-height: 0vw;
  font-weight: 600;
  line-height: 1.1;
}

.Experience-Heading-1 {
  min-height: 0vw;
  font-size: clamp(20px, 3vw, 51px);
  color: a.$co_4;
  font-weight: Semi Bold;
  font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  margin: 20px 0;
  line-height: 1.1;
  max-width: 800px;
}

.Experience-Code-1 {
  color: a.$co_4;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-weight: Regular;

  font-size: clamp(10px, 2vw, 34px);
  min-height: 0vw;
  margin-top: 0px;
  margin-right: 10px;
  line-height: 2;
}

.Experience-Code-2 {
  color: a.$co_3;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-weight: Regular;
  font-size: clamp(20px, 3vw, 51px);
  min-height: 0vw;
  margin-top: 0px;
  margin-right: 10px;
  line-height: clamp(20px, 3vw, 51px);
}

.Experience-Code-3 {
  color: a.$co_2-1;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-weight: Regular;
  font-size: clamp(20px, 2vw, 34px);
  line-height: 2;
  min-height: 0vw;
  margin-top: 0px;
  margin-right: 10px;
}

.Experience-Text-1 {
  color: a.$co_2-1;
  font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;

  width: 90%;
  // background-color: green;
  // font-weight: thin;
  font-weight: 300;
  list-style: none;
  font-size: clamp(10px, 2.4vw, 34px);
  line-height: clamp(14px, 2.6vw, 40px);
  min-height: 0vw;
  margin-top: 10px;
  margin-right: 10px;
}

.Projects-code-1 {
  margin: 20px;
  color: a.$co_3;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: clamp(18px, 2vw, 34px);
  line-height: 2;
  min-height: 0vw;
  font-weight: 200;
  margin-top: 0px;
  margin-left: 0;
  margin-right: 10px;
}

.Projects-code-2 {
  color: a.$co_2-1;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-weight: Regular;
  font-size: clamp(22px, 1.2vw, 44px);
  line-height: 1;
  margin-bottom: 0px;
  min-height: 0vw;
  margin-top: 0px;
  margin-left: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

.Projects-heading-1 {
  margin: 20px;
  min-height: 0vw;
  line-height: clamp(90px, 4vw, 100px);
  font-size: clamp(90px, 3vw, 100px);
  color: a.$co_4;
  font-weight: 700;
  font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  // margin: 20px 0
  margin-left: 0;
  // line-height: 0.6;
  max-width: 800px;
  @include a.media("<=xSize_6") {
    font-size: clamp(50px, 6vw, 100px);
  }
}

.Projects-text-1 {
  color: a.$co_2-1;
  font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  // background-color: red;
  font-weight: 500;
  font-size: clamp(20px, 2vw, 34px);

  line-height: 2;
  display: flex;
  min-height: 0vw;
  margin-top: 0px;
  margin-right: 10px;
  // background-color: red;
}

.Projects-code-3 {
  color: a.$co_2-1;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-weight: Regular;
  font-size: clamp(20px, 2vw, 34px);
  line-height: 2;
  min-height: 0vw;
  margin-top: 0px;
  margin-right: 10px;
  display: flex;
}

.Contact-Heading-1 {
  margin: 50px 20px;
  min-height: 0vw;
  font-weight: 300;
  // -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: rgb(255, 255, 255);
  font-size: clamp(50px, 3vw, 100px);
  line-height: clamp(50px, 2vw, 80px);
  color: a.$co_4-1;

  font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  // margin: 20px 0;

  max-width: 800px;
  margin-bottom: 0px;
}

.Contact-Text-1 {
  color: a.$co_2-1;
  font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  width: 90%;
  // background-color: green;
  // font-weight: thin;
  font-weight: 300;
  list-style: none;
  font-size: clamp(20px, 2vw, 34px);
  line-height: clamp(20px, 2.2vw, 40px);
  min-height: 0vw;
  margin: 30px 20px;
  margin-bottom: 20px;
}

.footer-text {
  color: a.$co_4;
  color: a.$co_2-1;
  font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  // width: 90%;
  // background-color: green;
  // font-weight: thin;
  font-weight: 300;
  list-style: none;
  font-size: clamp(20px, 2vw, 34px);
  line-height: clamp(30px, 2.2vw, 40px);
  min-height: 0vw;
  margin: 5px 0px;
  // margin-bottom: 20px;
}

.nav-code-3 {
  color: a.$co_4;
  // color: a.$co_2-1;
  font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;

  // width: 90%;
  // background-color: green;
  // font-weight: thin;
  font-weight: 500;
  list-style: none;
  font-size: clamp(10px, 3.4vw, 40px);
  line-height: clamp(14px, 3vw, 40px);
  min-height: 0vw;
  margin: 5px 0px;
}
