@use './abstracts/index' as i;

html, body {
  overflow-x: hidden;
  background-color: i.$co_1;
  padding: 0;
  margin: 0;
  // line-height: 1.6;
  // font-size: 18px;
}

// * {
//   box-sizing: border-box;
// }

p,h1,h2,h3{
  margin:0;
}

a{
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  display: block;
}
